[Unit]
Description=Plasma Auto Tiler Tray
PartOf=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=/usr/bin/plasma-auto-tiler tray
Restart=on-failure

[Install]
WantedBy=graphical-session.target
